/NuGet
/coc
/configstore
/efm-langserver
/filezilla
/fish
/flutter
/iterm2
/jgit
/wtf
/xbuild

.DS_Store 
*.log
code-server
exercism

Microsoft\\VisualStudio\ Services
Microsoft\\VisualStudio\ Services
